.ourWorksSection {
  margin-bottom: 5rem;
  .ourWorksContent {
    margin: 0 auto;
    width: 69.72vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.75rem;
      font-weight: 500;
      margin-top: 0.75rem;
      text-align: justify;
      margin-bottom: 1.75rem;
    }

    .contentCards{
        width: 100vw;
        
        h3{
            font-size: 1rem;
            color: var(--green-200);
            text-align: left;
            margin-left: 15.14vw;
        }

        .carouselCards{
            display: flex;
            flex-direction: row;
            margin-left: 15.14vw;
            margin-top:0.875rem;
            padding-bottom: 1rem;
            img{
                width: 6.436rem!important;
                height: 6.436rem!important;
                box-shadow: 0.109rem 0.109rem 0.547rem 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
  }
}
