.aboutUsContainer {
  .aboutUsContent {
    margin: 0 auto;
    padding-top: 1rem;
    width: 69.72vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .aboutUsTitle {
      padding-top: 1rem;
      justify-content: start;
    }

    p {
      margin-top: 1.25rem;
      font-size: 0.75rem;
      font-weight: 500;
      text-align: justify;
      margin-bottom: 2rem;
    }
    img {
      margin-bottom: 2rem;
      max-width: 69.72vw;
    }
  }
}

.ourAwardsContainer {
  background-color: var(--green-200);

  .ourAwardsContent {
    margin: 0 auto;
    padding-top: 1rem;
    width: 69.72vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ourAwardsLeftBox {
      ul {
        width: 79.78%;
        margin-top: 1.625rem;
        margin-left: 1.625rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        list-style-position: outside;
        list-style-image: url("../../public/images/iconBulletedList.svg");

        li {
          font-size: 0.75rem;
          font-weight: 400;
          text-align: justify;
          color: var(--gray-100);
        }
      }
    }
    .ourAwardsRightBox {
      img {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 12.375rem;
      }
    }
  }
}

.ourBelievingsContainer {
  background-image: url("../../public/images/fotoAvioes.png");
  background-repeat: no-repeat;
  background-size: cover;
  .ourBelievingsContent {
    margin: 0 auto;
    width: 69.72vw;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ourBelievingsTopics {
      width: 85%;
      margin-top: 1.625rem;
      margin-bottom: 1rem;

      h2 {
        font-family: Work Sans, sans-serif;
        font-size: 1.25rem;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--green-400);
      }

      p {
        font-size: 0.75rem;
        font-weight: 500;
        text-align: justify;
        margin-bottom: 2rem;
      }
    }
  }
}

.ourValuesContainer {
  margin-bottom: 2rem;
  .ourValuesContent {
    margin: 0 auto;
    width: 69.72vw;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ourValuesTopics {
      width: 85%;
      margin-top: 1.625rem;
      margin-bottom: 1rem;

      img {
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.75rem;
        font-weight: 400;
        text-align: justify;
        margin-bottom: 2rem;

        b {
          color: var(--green-200);
        }
      }
    }
  }
}

@media screen and(min-width:1200px) {
  .aboutUsContainer {
    .aboutUsContent {
      padding-top: 4.6rem;
      p {
        padding-top: 1rem;
        font-size: 0.9375rem;
      }
      img {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  .ourAwardsContainer {
    background-image: url("../../public/images/fundoPremios.png");
    background-repeat: no-repeat;
    background-size: cover;
    .ourAwardsContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 2rem;
      .ourAwardsLeftBox {
        width: 50%;
        ul {
          width: 90%;
          li {
            font-size: 0.9375rem;
          }
        }
      }
      .ourAwardsRightBox {
        width: 50%;
        img {
          padding-left: 3.125rem;
          max-width: 100%;
        }
      }
    }
  }

  .ourBelievingsContainer {
    background-image: url("../../public/images/fotoAvioesDesktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    .ourBelievingsContent {
      padding-top: 6.125rem;

      .ourBelievingsTopics {
        margin: 0 0 0 0;
        padding: 6.125rem 4.375rem 4.125rem 4.375rem;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2rem;
        }

        h2 {
          width: 50%;
          padding-left: 0.7rem;
          font-size: 1.875rem;
          text-shadow: 0px 4px 4px #00000038;

          border-left: solid 5px var(--orange-200);
          border-radius: 0.275rem;
          /*background: linear-gradient(#f89834, #ff6a00) padding-box,
            linear-gradient(to top, #f89834, #ff6a00);
          border-radius: 0.275rem;*/
          //border-left: 4px solid transparent;
        }
        p {
          width: 50%;
          font-size: 0.9375rem;
          margin: 0 0 0 0;
        }
      }
    }
  }

  .ourValuesContainer {
    .ourValuesContent {
      padding-top: 4rem;
      padding-bottom: 4rem;
      .ourValuesTopics {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          flex-direction: row;

          div {
            width: 50%;
            padding-left: 1rem;
            padding-right: 1rem;
            img {
              width: 4.1875rem;
              height: 4.1875rem;
            }
            p {
              padding-left: 2rem;
              padding-right: 1.5rem;
              font-size: 0.9375rem;
            }
          }
        }
      }
    }
  }
}
