.carouselContainer {
    margin: 0 auto;
    width: 100%;


    div {
        align-items: center;
        padding: 0.938rem 1rem 1rem 0.65rem;

        div {
            padding-bottom: 10vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

}

@media screen and(min-width:1200px) {
    .carouselContainer {
        >div {
            padding-top: 1.563rem;
        }
    }
}