.bar{  
    
    cursor: pointer;

    width: 1.25rem;
    position: relative; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 0.125rem;
        
    .top{
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.3s ease;
    }
    
    .middle{
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.4s ease;
    }

    .bottom{
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.3s ease;

    }


}

.menuHamburgerOpen{
    .top{
        transform: rotate(-45deg) translateY(1px) translateX(-6px) ; 
        width: 1.5rem; 
    }
    .middle{
        transform: translateX(20px);
        opacity: 0;
        border-radius: 50%;
    }
    .bottom{
        transform: rotate(45deg) translateY(-1px) translateX(-6px) ;
        width: 1.5rem;
    }
   
}