.headerContainer{ 
    .headerContent{
        >:first-child{
            background-color: var(--gray-100);
            position: fixed;
            top: 0;

            width: 100%;
            height: 3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            z-index: 2;

            button{
                position: absolute;
                left: 1.75rem;
                border: none;
                background: none;
            }
            
        }

        .menuContent{
            width: 100vw;
            position: absolute;
                     
            background: var(--gray-100);
            padding: 1.5rem 2rem 1.5rem 2rem;
            z-index: 1;

            top: -100%;
            
            transition: 0.3s ease;
                      

            nav{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                a{
                    font-family: PT sans, sans-serif;
                    font-weight: 400;
                    font-size: 1.3rem;
                    color: var(--green-400);
                }
            }
        }

        .menuContentShow{
            top: 3rem;
            
        
        }
    }

}
