@keyframes expand {
    from {
        transform: scaleX(0)
    }

    to {
        transform: scaleX(1);
    }
}

.headerContainer {
    .headerContent {
        .header {
            background-color: var(--gray-100);
            position: fixed;
            top: 0;

            width: 100%;
            height: 3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            z-index: 3;

            button {
                position: absolute;
                left: 1.75rem;
                border: none;
                background: none;
            }

            img {
                width: 8.971rem;
            }

        }

        .menuContent {
            width: 100vw;
            position: fixed;

            background: var(--gray-100);
            box-shadow: 0rem 0.2rem 0.8rem 0 rgba(0, 58, 61, 0.3);

            padding: 1.5rem 2rem 1.5rem 2rem;
            z-index: 2;

            top: -100%;

            transition: 0.3s ease;


            nav {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                a {
                    font-family: PT sans, sans-serif;
                    font-weight: 400;
                    font-size: 1.3rem;
                    color: var(--green-400);
                }
            }
        }

        .menuContentShow {
            top: 3rem;


        }
    }

}

.hamburgerMenu {

    cursor: pointer;

    width: 1.25rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.125rem;

    .top {
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.3s ease;
    }

    .middle {
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.4s ease;
    }

    .bottom {
        height: 0.188rem;
        width: 100%;

        background: var(--green-400);
        transition: 0.3s ease;

    }


}

.menuHamburgerOpen {
    .top {
        transform: rotate(-45deg) translateY(1px) translateX(-6px);
        width: 1.5rem;
    }

    .middle {
        transform: translateX(20px);
        opacity: 0;
        border-radius: 50%;
    }

    .bottom {
        transform: rotate(45deg) translateY(-1px) translateX(-6px);
        width: 1.5rem;
    }

}

@media screen and(min-width:1200px) {
    .headerContainer {
        width: 100%;
        position: fixed;
        top: 0;

        background: var(--gray-100);
        height: 7.125rem;
        box-shadow: 0rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
        z-index: 3;

        .headerContent {
            display: flex;
            flex-direction: row;

            max-width: 72.75rem;
            height: 100%;

            margin: 0 auto;
            padding: 0 2rem;


            .header {
                z-index: unset;
                height: unset;
                position: absolute;
                width: 20rem;

                padding: 2.156rem 1.563rem;
                background: var(--gray-125);
                border-radius: 0 0 1.25rem 1.25rem;
                box-shadow: 0rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);

                transition: .3s;

                &:hover {
                    background: var(--white);
                    filter: brightness(1.1);
                }

                cursor: pointer;

                button {
                    display: none;
                }

                img {
                    width: 15.625rem;
                }
            }

            .menuContent {
                width: unset;
                position: unset;
                background: unset;
                box-shadow: unset;
                padding: unset;
                z-index: unset;

                margin-left: auto;

                nav {
                    flex-direction: row;
                    align-items: center;
                    height: 100%;
                    width: 100%;

                    gap: 3.5rem;

                    a {

                        font-family: Work Sans, sans-serif;
                        font-size: 1.25rem;

                    }

                    .active {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -0.5rem;
                            left: 12.59%;

                            width: 74.81%;
                            height: .3rem;

                            background-image: linear-gradient(90deg, var(--orange-100), var(--orange-200));
                            border-radius: 1rem;
                            animation: .3s expand;



                        }
                    }
                }

            }
        }
    }
}