.tellUsForm{
    width: 69.72vw;
    
    margin: 0 auto;
    max-width: 29.375rem;
    fieldset{
        width: 80.64516%;
        
        margin: 1.75rem auto 0 auto;
        
        
        border: none;
        

        display: flex;
        flex-direction: column;

        label{
            font-family: 'PT Sans';
            font-size: 0.875rem;
            


            padding-left: 0.5rem;
            margin-bottom: 0.313rem;
            & + input, + select{
                margin-bottom: 1.563rem;
            }
        }

        input:not(input[type="range"]), select, textarea{
            color: var(--very-dark-green);
            padding: 0.25rem 0.625rem;
            background-color: var(--gray-125);

            box-sizing: border-box;
            border: 0.051rem solid var(--white) ;
            border-radius: 0.36rem;
            box-shadow:  0 0.206rem 0.206rem 0 rgba(0, 0, 0, 0.15);
            
        }

        .sliderContainer{
            .slideField{
                display: flex;
                flex-direction: column;
                width: 100%;
                
                input{
                    width: 100%;
                    margin-top: 0.563rem;
        
                    -webkit-appearance: none;
                    outline: none;
        
                    background-color: var(--dark-blue);
                    height: 2px;
        
                    &::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: var(--dark-blue);
                    }
            
                }
                
                .sliderTracinhos{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    margin-top: 0.5rem;
                    padding: 0 0.45rem;
                    
                    span{
                        display: block;
                        width: 1px;
                        height:4px;
                        background-color: var(--dark-blue);
                    }

                }
            }

            margin-bottom: 1rem;
            
            .rangeValue{
               text-align: center; 
               color: var(--dark-blue);

               font-size: 0.85rem;
               font-weight: 600;

            }
        }

        textarea{
            resize: none;
        }

        > :last-child{
            margin: 2.25rem auto 5.265rem auto;
        }
        
    }
    
}

@media screen and(min-width:1200px){
    .tellUsForm{
        fieldset{
            width: 100%;
            label{
                font-size: 1.25rem;
                font-weight: 700;
                color: var(--very-dark-green);

            }

            .sliderContainer{
                .slideField{        
                    input{
                        height: 4px;                
                    }
                    
                    
                }
            }
        }
    }
}